*{
	margin: 0;
	padding: 0;
}
html{
	max-width: 100%;
	height: auto;
	font-family: "Arial", sans-serif;
}
body{
	max-width: 100%;
	height: auto;
}
a {
    text-decoration: none;
    font-size: 15px;
    color: #333;
}
header {
    max-width: 100%;
    min-height: 100px;
    background-color: #191919;
    position: relative;
    z-index: 9;
}
nav {
    max-width: 100%;
    height: 68px;
    margin-top: 50px;
    background-color: #f3f3f3;
    box-shadow: 0px 3px 15px #d0cccc;
}
nav.top-menu a {
    font-style: italic;
}
ul.customer-login li {
    display: inline-block;
}
nav.top-menu ul {
    max-width: 1080px;
    margin: auto;
}
.wrapper{
	padding: 0.5rem;
}
div.container {
    max-width: 1000px;
    min-height: 500px;
    background-color: #fff;
    margin: auto;
    box-shadow: 0px 5px 14px rgba(160, 160, 160, 0.39);
    margin-top: -25px;
    padding: 10px 35px;
    padding-top: 50px;
    position: relative;
}
.top-menu li {
    display: inline-block;
    padding: 24px 18px;
    border-right: 1px solid #eee;
    cursor: pointer;
}
.top-menu li:hover {
    border-bottom: 3px solid #d71921;
    background: rgba(220, 220, 220, 0.25);
    padding-bottom: 22px;
}
aside {
    width: 210px;
    height: 600px;
    background: transparent;
    border: none;
    margin-bottom: 30px;
    border-radius: 6px;
    float: right;
}
input#search-inventory {
    width: 94%;
    height: 40px;
    padding-left: 10px;
    font-size: 12px;
}
input#search-inventory:focus {
    outline: 1px solid #191919;
    color: #191919;
    transition: 500ms ease-out;
}
.content-container {
    max-width: 760px;
    height: auto;
    background: transparent;
    clear: left;
}
.hero {
    max-width: 100%;
    height: 400px;
    background: rgba(210, 210, 210, 0.12);
    position: relative;
    overflow: hidden;
}
.hero h3 {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    font-size: 30px;
}
.hero img {
    max-width: 100%;
    height: auto;
}
h1.section-label {
    padding: 10px;
    background: rgba(243, 243, 243, 0.49);
    margin-top: 40px;
    border-radius: 5px;
    border: 1px solid #eee;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: -20px;
}
.slideshow-overlay {
    position: absolute;
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(103, 58, 183, 0),rgba(243, 34, 0, 0.38));
}
.grid-group .grid-3 {
    width: 230px;
    min-height: 270px;
    background: transparent;
    display: inline-block;
    margin: 50px 3px;
    margin-bottom: 8px;
    position: relative;
    padding: 5px;
    overflow: hidden;
}
.grid-3 img {
    width: 100%;
    height: 170px;
    margin-bottom: 10px;
    transition: 200ms ease-out;
}
.grid-3 img:hover{
    transform: scale(1.4);
}
.grid-3 h4 {
    margin-bottom: 10px;
}
.grid-3 h3 {
    color: #388638;
    line-height: 1.8;
}
.grid-3 p.price {
    margin-top: 15px;
}
input.view-details {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    color: #fff;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #585858;
    border: none;
    border-bottom: 4px solid #333232;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 10px;
}
input.view-details:hover {
    background-color: #1fa5f3;
    border-bottom: 4px solid #0a83cc;
}
input.btn-login{
    padding: 10px;
    background: #312f2f;
    border: 1px solid #5d5b5b;
    color: white;
    text-transform: uppercase;
    width: 190px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 14px;
}
.logo-container {
    max-width: 1080px;
    margin: auto;
    position: relative;
    top: 20px;
}
.logo-container img {
    max-width: 270px;
    margin-bottom: -30px;
}
.logo-container h1 {
    color: white;
    position: relative;
    top: 13px;
}
footer {
    max-width: 100%;
    margin-top: 50px;
    background-color: #f3f3f3;
    color: #7b7b7b;
    text-align: center;
    font-size: 11px;
    padding-top: 0px;
    padding: 20px;
}